<div class="card">
    <div class="card-body">
        <form [formGroup]="editGameForm" novalidate>
            <div class="form-group">
                <label class="col-md-4">Date</label>
                <input type="date" class="form-control" name="date" formControlName="date" #date [(ngModel)]="game.date"/>
                <div *ngIf="editGameForm.controls['date'].invalid && (editGameForm.controls['date'].dirty || editGameForm.controls['date'].touched)" class="alert alert-danger">
                    <div *ngIf="editGameForm.controls['date'].errors.required">
                        Date is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Opponent</label>
                <input type="text" class="form-control" name="player2" formControlName="player2" #player2 [(ngModel)]="game.player2Name" />
                <!-- <select class="form-control" name="player2" formControlName="player2" #player2 [(ngModel)]="game.player2">
                    <option value="{{user | json}}" *ngFor="let user of opponents">{{user.name}}</option>
                </select> -->
                <div *ngIf="editGameForm.controls['player2'].invalid && (editGameForm.controls['player2'].dirty || editGameForm.controls['player2'].touched)" class="alert alert-danger">
                    <div *ngIf="editGameForm.controls['player2'].errors.required">
                        Opponent is required.
                    </div>
                </div>
            </div>
            <div>Scores</div>
            <div class="form-group">
                <label class="col-md-4">Your Score</label>
                <input type="number" class="form-control" name="player1Score" formControlName="player1Score" #player1Score [(ngModel)]="game.player1Score" />
                <div *ngIf="editGameForm.controls['player1Score'].invalid && (editGameForm.controls['player1Score'].dirty || editGameForm.controls['player1Score'].touched)" class="alert alert-danger">
                    <div *ngIf="editGameForm.controls['player1Score'].errors.required">
                        Your score is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Opponent's Score</label>
                <input type="number" class="form-control" name="player2Score" formControlName="player2Score" #player2Score [(ngModel)]="game.player2Score" />
                <div *ngIf="editGameForm.controls['player2Score'].invalid && (editGameForm.controls['player2Score'].dirty || editGameForm.controls['player2Score'].touched)" class="alert alert-danger">
                    <div *ngIf="editGameForm.controls['player2Score'].errors.required">
                        Opponent score is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button (click)="updateGame(date.value, player1.value, player2.value, player1Score.value, player2Score.value)" [disabled]="editGameForm.pristine || editGameForm.invalid" class="btn btn-primary">Update Game</button>
            </div>
        </form>
    </div>
</div>
